body{
	margin: 0;
	background: linear-gradient(to bottom right, #c4fbda, #fbef60);
	background-repeat: no-repeat;
	min-height: 100vh;
}
.container{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.nav{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 12px;
}
.casino{
	margin-top: 20px;
	display: flex;
    justify-content: center;
}
.nums{
    position: absolute;
    display: flex;
}
.num{
	position: absolute;
	font-weight: 800;
}
.slot{
	position: absolute;
	z-index: -1;
}
.start{
	font-weight: 600;
	border: 3px solid black;
	border-radius: 8px;
	padding: 8px 17px;
	cursor: pointer;
	background-color: white;
	user-select: none;
}
.menu{
	margin-top: 20px;
	display: flex;
}
.plus{
	position: absolute;
	z-index: -2;
}





@media(max-width: 250px){
	*{
		font-size: 10px;
	}
	.slot{
		width: 150px;
	}
	.nav{
    	padding: 5px 5px;
	}
	.num{
		font-size: 30px;
	}
	.nums{
		margin-top: 17px;
	}
	.start{
		margin-top: 80px;
		font-size: 16px;
		border: 2px solid black;
	}
	.menu{
		margin-top: 40px;
		gap: 15px;
	}
	.menu img{
		width: 20px;
	}
	.num1{
		left: -50px;
	}
	.num2{
		left: -8px;
	}
	.num3{
		left: 34px;
	}
}
@media(min-width: 250px){
	.slot{
		width: 250px;
	}
	.num{
		font-size: 55px;
	}
	.nums{
		margin-top: 25px;
	}
	.start{
		margin-top: 140px;
		font-size: 30px;
	}
	.menu{
		margin-top: 60px;
		gap: 25px;
	}
	.menu img{
		width: 40px;
	}
	.num1{
		left: -84px;
	}
	.num2{
		left: -14px;
	}
	.num3{
		left: 56px;
	}
}
@media(min-width: 400px){
	*{
		font-size: 24px;
	}
	.slot{
		width: 400px;
	}
	.num{
		font-size: 88px;
	}
	.nums{
		margin-top: 40px;
	}
	.start{
		margin-top: 220px;
		font-size: 44px;
	}
	.menu{
		margin-top: 80px;
		gap: 40px;
	}
	.menu img{
		width: 60px;
	}
	.num1{
		left: -133px;
	}
	.num2{
		left: -23px;
	}
	.num3{
		left: 88px;
	}
}